<!DOCTYPE html>
 
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
 
<h:head>
	<title>Hola Mundo!</title>
</h:head>
 
<h:body>
	<h:form>
     <table>
       <tr>
          <td>CUI:</td>
          <td>
            <h:inputText value="#{usuarioControl.usuario.cui}" />
          </td>
       </tr>
       <tr>
       	  <td>Nombre1:</td>
          <td>
            <h:inputText value="#{usuarioControl.usuario.nombre1}" />
          </td>    
       </tr>
       <tr>
       	  <td>Nombre2:</td>
          <td>
            <h:inputText value="#{usuarioControl.usuario.nombre2}" />
          </td>    
       </tr>
       <tr>
       	  <td>Apellido1:</td>
          <td>
            <h:inputText value="#{usuarioControl.usuario.apellido1}" />
          </td>    
       </tr>
       <tr>
       	  <td>Apellido2:</td>
          <td>
            <h:inputText value="#{usuarioControl.usuario.apellido2}" />
          </td>    
       </tr>
     </table>
     <h:commandButton value="Guardar" action="#{usuarioControl.save}"/>
  </h:form>
</h:body>
 
</html>